.header {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #003755;
}
.header-main {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #003755;
}
.header-secondary {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3C4043;
}
.padding {
    padding: 0.5rem;
}
.align-left {
    position: absolute;
    left: 5px;
}
.basic {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #406980;
}