<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content>
    <div *ngIf="information">
        <mat-grid-list cols="5" rowHeight="20px">
            <mat-grid-tile [colspan]="1" [rowspan]="9">
                <img style="width: 100%;" [src]="'./../../../assets/img/' + information.img" />
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="2">
                <div class="header-main padding align-left">
                    {{information.name}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="header-secondary padding align-left">
                    {{information.key}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="4">
                <div class="padding basic align-left">
                    {{information.description}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="header padding align-left">
                    Number
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="header padding align-left">
                    Requested For
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="header padding align-left">
                    Opened
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="header padding align-left">
                    Status
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="basic padding align-left">
                    {{information.number}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="basic padding align-left">
                    {{information.requestedFor}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="basic padding align-left">
                    {{information.opened}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="basic padding align-left">
                    {{information.status}}
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" (click)="closeDialog()">Close</button>
</div>